.cont{
	width: 100%;
	float: left;
	margin-top: 95px;
}



	.col_2{
		width: 100%;
		height: 100vh;
		float:right;
		background-color: #ede7f6;
		display: inline-block;
	}

	body{
		background-color: #ede7f6;
	}

	.cunas{
		padding-right: 5% 5% 5% 5%;
	}

	rect{
		width: 100%!important;
		height: 100%!important;
	}

	.cunumero{
		text-align: center!important;
		font-style: bold!important;
		font-size: 18pt!important;
	}